body {
  background-color: #4B4453;
}
#board {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}
/* Tipos de celdas del tablero */
/*Default */.hiddenCell {
  width: 50px;
  height: 50px;
  /* background-color: #cccccc; */
  background-color: #00896F;
  border-top: 2px solid #00C0A3;
  border-left: 2px solid #00C0A3;
  border-bottom: 2px solid black;
  border-right: 2px solid #000000;
  padding: 0px;
  border-collapse: collapse;
  text-align: center;

}
.hiddenCell:hover {
  background-color: #B0A8B9;
}
/*Mina Explota*/.mined{
  background-color: red;
  justify-content: center;
  align-content: center;
}
/*Celda Descubierta*/ .exposed{
  background-color: #bbbbbb;
  border: 1px solid #999999;
}
#inputNumber{
  margin-bottom: 50px;
}